
#content{
    margin-left: 50px;
}

body{
    background-image: url("https://do0bihdskp9dy.cloudfront.net/10-07-2022/t_84222e08dddf443ea7dac73519afa5e9_name_CINNABAR_APARTMENT_FIRE_CTSY_PHOENIX_FIRE__4__scaled.jpg");
}
.content2{
    background-color: white;
    height: 900px;
}
.master{
    text-align: center;
}
.master-header{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.master-intro{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.master-paragraph{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
}
.master-images{
margin-left: auto;
}
