
/*#content{
    margin-left: 50px;
}*/

.container{
    box-sizing: content-box;
    margin-top: 5px;
    justify-content: center;
}
body{
    background-image: url("https://do0bihdskp9dy.cloudfront.net/10-07-2022/t_84222e08dddf443ea7dac73519afa5e9_name_CINNABAR_APARTMENT_FIRE_CTSY_PHOENIX_FIRE__4__scaled.jpg");
}
.content2{
    background-color: white;
    height: 850px;
    width: 1100px;
    margin: auto;
   /* margin-right: 300px;
    margin-left: 300px; */
   /* width: 1100px;
    justify-content: center; */
}
.master{
    text-align: center;
}
.master-header{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.master-intro{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.master-paragraph{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block; 
    text-align: left;
}
.master-images{
width: 100%;
display: flex;
justify-content: center;
}
.fire-ball{
    height: 390px;
    justify-content: center;
    margin: 5px;
}
.drone{
    height: 390px;
    justify-content: center;
    margin: 5px;
}
.links{
    margin: 3px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 30px;

    background-color: burlywood;
    width: 130px;
    height: 35px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: royalblue;
}
.links:hover{
    margin: 0px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 30px;

    background-color: burlywood;
    width: 135px;
    height: 37px;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: royalblue;
}
.container-misc{
    margin: auto;
    width: 200px;
    color: white;
}
.log-out-button{
    width: 180px;
    height: 25px;
    margin-top: 2px;
    text-align: center;
    background-color: black;
}
.forgot-password{
    display: inline-block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    background-color: black;
    height: 30px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}
.title-product-register{
    font-size: 35px;
    margin-bottom: 20px;
}